<!doctype html>
<title>CalTrack</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>CalTrack</h1>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %}
      <li class="flash">{{ message }}</li>
    </ul>
    {% endfor %}
  {% endwith %}
  {% block body %}{% endblock %}
</div>