{% extends "bootstrap/base.html" %}

{% block scripts %}
{% endblock %}

{% block styles %}
{{ super() }}
<link href="static/jquery-ui.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}CalTrack{% endblock %}

{%block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% block navbar %}
{% endblock %}

<div class="container">
  <h1>CalTrack</h1>
  <hr>
  {% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    </ul>
    {% endfor %}
  {% endwith %}
  {% block content %}{% endblock %}
</div>
{% endblock %}