{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    $( "#search_ingredients" ).autocomplete({
      source: function(request, response) {
        $.getJSON($SCRIPT_ROOT + "/search_ingredients", {
            search: request
          }, response);
      },
      appendTo: "#results",
    });
  });
</script>

<h1>{{ "Tracker for {}-{}".format(month, day) }}</h1>
<input type="text" id="search_ingredients" />
<div id="results"></div>
<table class="ingredients">
  <tr>
    <th>Ingredient</th>
    <th>Serving Size</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Carbs</th>
    <th>Fat</th>
    <th>Fiber</th>
  </tr>
  {% for ingredient in ingredients %}
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.serving_size }}</td>
      <td>{{ ingredient.calories }}</td>
      <td>{{ ingredient.protein }}</td>
      <td>{{ ingredient.carbs }}</td>
      <td>{{ ingredient.fat }}</td>
      <td>{{ ingredient.fiber }}</td>
    <tr>
  {% endfor %}
</table>
{% endblock %}