{% extends "layout.html" %}

{% block content %}
<script type="text/javascript">
  $(function() {
    $( "#search_ingredients" ).autocomplete({
      source: function(request, response) {
        $.getJSON($SCRIPT_ROOT + "/search_ingredients", {
            search: request
          }, response);
      },
      appendTo: "#results",
    });
  });
</script>

<h1>{{ "Tracker for {}-{}".format(month, day) }}</h1>
<form action="/add_to_tracker" method="post">
  <div class="form-group">
    <label for="search_ingredients">Search Foods</label>
    <input type="text" id="search_ingredients" name="name" class="form-control"/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"/>Add</button>
  </div>
</form>
<div id="results"></div>
<table class="table table-bordered table-striped">
  <tr>
    <th>Ingredient</th>
    <th>Serving Size</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Carbs</th>
    <th>Fat</th>
    <th>Fiber</th>
  </tr>
  {% for ingredient in ingredients %}
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.serving_size }}</td>
      <td>{{ ingredient.calories }}</td>
      <td>{{ ingredient.protein }}</td>
      <td>{{ ingredient.carbs }}</td>
      <td>{{ ingredient.fat }}</td>
      <td>{{ ingredient.fiber }}</td>
    <tr>
  {% endfor %}
  <tr>
    <td>Totals</td>
    <td></td>
    <td>{{ totals.calories }}</td>
    <td>{{ totals.protein }}</td>
    <td>{{ totals.carbs }}</td>
    <td>{{ totals.fat }}</td>
    <td>{{ totals.fiber }}</td>
  </tr>
</table>
{% endblock %}