{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_ingredient') }}" method="post" class="add-entry">
      <dl>
        <dt>Name:
        <dd><input type="text" size=30 name="name">
        <dt>Calories:
        <dd><input type="text" size=30 name="calories">
        <dt>Protein:
        <dd><input type="text" size=30 name="protein">
        <dt>Carbs:
        <dd><input type="text" size=30 name="carbs">
        <dt>Fat:
        <dd><input type="text" size=30 name="fat">
        <dt>Fiber:
        <dd><input type="text" size=30 name="fiber">
        <dt>Serving Size:
        <dd><input type="text" size=30 name="serving_size">
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <table class="ingredients">
    <tr>
      <th>Ingredient</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Fiber</th>
      <th>Serving Size</th>
    </tr>
  {% for ingredient in ingredients %}
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.calories }}</td>
      <td>{{ ingredient.protein }}</td>
      <td>{{ ingredient.carbs }}</td>
      <td>{{ ingredient.fat }}</td>
      <td>{{ ingredient.fiber }}</td>
      <td>{{ ingredient.serving_size }}</td>
    <tr>
  {% else %}
    <tr>
      <td>No ingredients yet.</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}